* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e1d3fa; /* Soft purple */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2e223a;
    color: white;
    width: 100%;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo img {
    height: 50px;
    margin: 8px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 30px;
}

.help-btn,
.bookings-btn {
  margin-right: 10px;
  padding: 10pxpx;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.help-btn {
    background: #AEB2B8;
    color: #271944;
    padding-left: 30px;
    padding-right: 30px;
}

.help-btn:hover {
    background-color: rgb(113, 85, 139);
}

.help-btn:focus {
    outline: none;
}

.bookings-btn {
    background: rgb(113, 85, 139);
    color: #271944;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
}

.bookings-btn:focus {
    outline: none;
}

.profile-icon {
    width: 35px;
    height: 35px;
    background: green;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: center;
    padding: 15px;
    background: #e1d3fa;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.active {
    margin: 0 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 16px;
    color: #555;
    background-color: transparent;
    border: 0;
}

.active:focus {
    outline: none;
}

.tab {
    font-weight: bold;
    border-bottom: 3px solid #271944;
    color: #271944;
    border-radius: 0;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.tab:focus {
    outline: none;
}

.tab:hover {
    border-bottom: 3px solid #271944;
}

.content {
    flex-grow: 1;  /* Makes content take full available space */
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-card {
    background: rgb(113, 85, 139);
    padding: 20px;
    border-radius: 12px;
    width: 80%;
    max-width: 750px;
    color: white;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left h3,
.right h3 {
  margin: 0;
  font-weight: bold;
  color: white;
}

.left p,
.right p {
  margin: 5px 0;
  color: white;
}

.rental-company {
    font-weight: bold;
    color: white;
}

.middle {
    text-align: center;
    font-weight: normal;
}
  